<h1>Sales Within The Last 15 Months</h1>

<table>
  <thead>
    <tr>
      <th>Sale Date</th>
      <th>Sale Amount</th>
      <th>Invoice Number</th>
      <th>Units Sold</th>
      <th>Price Per Unit Sold</th>
      <th>Invoice Frequency</th>
      <!-- More attributes here... -->
    </tr>
  </thead>

  <tbody>
    <% @fifteen.each do |sale| %>
      <tr>
        <td><%= sale.sale_date %></td>
        <td><%= '$'+sale.sale_amount.to_s %></td>
        <td><%= sale.invoice_no %></td>
        <td><%= sale.units_sold %></td>
        <td><%= (sale.sale_amount/sale.units_sold).round(2) %></td>
        <td><%= sale.invoice_frequency %></td>
        <!-- More attributes here... -->
      </tr>
    <% end %>
  </tbody>
</table>
